*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.invalid {
  border: 2px red dashed;
}

label, input, textarea {
  display: block;
  margin: 0.5em;
}